@import '@fontsource/montserrat';
@import '@fontsource/lora';
@import '@fontsource/roboto-flex';
@import "tailwindcss";

:root {
  --background: 255 255 255;
  --foreground: 29 29 27; /* anthracite */
  --border: 217 217 217; /* gris clair */
}

.dark {
  --background: 29 29 27;
  --foreground: 255 255 255;
  --border: 74 74 74; /* gris foncé */
}

/* Application des polices */
h1, h2 {
  font-family: 'Montserrat', sans-serif;
}
h3, h4, h5, h6 {
  font-family: 'Lora', serif;
}
body {
  font-family: 'Roboto Flex', sans-serif;
}

/* Couleurs de texte */
h1 {
  color: rgb(29, 29, 27); /* anthracite */
}
h2 {
  color: rgb(74, 74, 74); /* dark gray */
}
p {
  color: rgb(128, 128, 128); /* medium gray */
}
.text-secondary {
  color: rgb(217, 217, 217); /* light gray */
}
.text-disabled {
  color: rgb(240, 240, 240); /* very light gray */
}

/* Styles globaux */
* {
  border-color: hsl(var(--border));
}
body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
  font-feature-settings: "rlig" 1, "calt" 1;
}
